---
title: Dokumenty
menu_position: 40
main_content_class: dokumenty
styles: ['dokumenty.css']
dokumenty:
-
 title: Žádost o úvěr
 file: zadost-normalni.pdf
-
 title: Příloha č. 1 k žádosti o úvěr
 file: priloha1-normalni.pdf
-
 title: Čestné prohlášení o dostatečných příjmech pro poskytnutí úvěru
 file: cestne_prohlaseni.pdf
-
 title: Potvrzení o příjmu
 file: prijem.pdf
-
 title: Poplatkový sazebník
 file: poplatkovy-sazebnik.pdf
-
 title: Žádost o odložení splátek úvěru
 file: formular-odlozeni_splatek.pdf

---
<h1>Dokumenty ke stažení</h1>
<ul class="dokumenty_list">
	{{#each dokumenty}}
		<li><a href="{{../abspath}}/files/{{file}}" target="_blank">{{title}}</a></li>
	{{/each}}
</ul>