---
title: Dokumenty
menu_position: 40
main_content_class: dokumenty
styles: ['dokumenty.css']
dokumenty:
-
 title: Žádost o úvěr
 file: asisteam-formular.pdf
-
 title: Příloha č. 1 k žádosti o úvěr
 file: asisteam-formular-priloha-1.pdf
-
 title: Čestné prohlášení o dostatečných příjmech pro poskytnutí úvěru
 file: prohlaseni-uver.pdf
-
 title: Potvrzení o příjmu
 file: prijem.pdf
-
 title: Poplatkový sazebník
 file: poplatkovy_sazebnik.pdf
-
 title: Vinkulace pojistného plnění Majetek i Život
 file: vinkulace.pdf

---
<h1>Dokumenty ke stažení</h1>
<ul class="dokumenty_list">
	{{#each dokumenty}}
		<li><a href="{{../abspath}}/files/{{file}}" target="_blank">{{title}}</a></li>
	{{/each}}
</ul>