---
layout: home_page.hbs
styles: ['home.css']
footer_scripts: ['home.js']
menu_position: 100
no_menu: true
slider:
 - title: Proč půjčku od nás?
   items:
    - jsme přímým poskytovatelem úvěrů od 100.000 do 3.000.000
    - máme transparentní podmínky
    - nenahlížíme do registrů
    - nabízíme úvěry s dlouhou splatností – až 20 let
   image: slider_1.jpg
 - title: Levný úvěr
   items:
    - nízké úrokové sazby od 10,99% p. a.
    - fixní úrok po celou dobu splatnosti
    - dopředu znáte sazbu RPSN
    - půjčku můžete předčasně splatit
   image: slider_1.jpg
 - title: Další výhody
   items:
    - neplatíte žádné poplatky předem ani potom
    - možnost expresního vyplacení úvěru
    - není vyžadován odhad nemovitosti
    - vyberete si mezi anuitní splátkou nebo splátkou pouze úroku
   image: slider_1.jpg
teaser: <mark>Garantujeme</mark> expresní schválení a poskytnutí úvěru <mark>do 10 dnů</mark>
---
<h1>O AsisTeam s.r.o.</h1>

<p>Poskytneme vám nebankovní půjčky bez registrů do výše 3 000 000 Kč.</p>

<p>V oboru poskytování úvěrů máme bohaté mnohaleté zkušenosti, díky čemuž vám můžeme nabídnout
	profesionální služby za cenu výrazně nižší než jiné společnosti. Máme dokonale zvládnuté procesy,
	a proto vyřídíme vaši žádost o nebankovní úvěr velmi rychle. V rámci expresního čerpání můžete
	mít peníze již za 10 dnů od podání žádosti.</p>

<h2>Individuální přístup ke každému klientovi</h2>

<p>Uvědomujeme si, že každý žadatel o úvěr má jiné požadavky a potřeby, proto ke každému případu
	vždy přistupujeme individuálně a vyjdeme vám maximálně vstříc.</p>

<br/>

<h2>Transparentní proces schvalování a poskytování úvěrů</h2>

<p>Chápeme, že než se rozhodnete podepsat smlouvu, potřebujete dobře vědět, co získáte a co se od vás bude očekávat. V žádném případě se vás nesnažíme uvázat k nevýhodným úvěrům, které vám spíše uškodí, než aby vám pomohli posunout se v životě či podnikání dál. Proto je pro nás důležité, abyste před podepsáním smlouvy věděli naprosto vše, co potřebujete vědět.</p>

<p>Budete-li mít jakékoliv dotazy, neváhejte a <a href="">ptejte se.</a></p>

<h2>AsisTeam s.r.o. neustále rozšiřuje své obzory a roste</h2>

<p>Jako firma jsme se postupně rozrostli do současné velikosti, kdy se o vás postará náš interní tým zkušených obchodních zástupců a bude jim v tom pomáhat několik desítek externích spolupracovníků.</p>

<h2>Naše půjčky pomohly mnoha lidem i společnostem</h2>

<p>Pomáháme lidem, kteří například kupují nemovitost, chystají rekonstrukci, potřebují konsolidaci úvěru, chtějí investovat do rozvoje své společnosti a dalším. Prostě, hledají férovou půjčku bez poplatků předem a my jim pomáháme splnit jejich sny a cíle.</p>

<p>Přečtěte si, co o nás a našich službách říkají zákazníci: <a href="">reference</a>.</p>

<h2>Využijte naší výhodné nabídky a získejte peníze za skvělých podmínek</h2>