---
title: Kontakt
menu_position: 50
footer_scripts: ['email_decode.js']
---
<h2>AsisTeam s.r.o.</h2>
<p>Kaprova 42/14<br/>
110 00 Praha 1 – Staré město<br/>
IČ: 28319061<br/>
Zapsáno u Městského soudu v Praze oddíl C, vložka 195471<br/>
</p>
<br/>
<table class="no-border">
	<tr>
		<td>
			<strong>Pobočka:</strong><br/>
			Riegrovo nám. 182<br/>
			767 01 Kroměříž<br/>
			<br/>
			Otevírací doba:<br/>
			<table>
				<tr>
					<td>PO - ČT</td>
					<td>9 - 17 h</td>
				</tr>
				<tr>
					<td>PÁ</td>
					<td>9 - 13 h</td>
				</tr>
			</table>
			<br/>
			<strong>Tel.:</strong> 777 625 397<br/>
			<strong>E-mail:</strong> <a href="znvygb:vasb@nfvfgrnz.pm" class="email_decode">vasb@nfvfgrnz.pm</a><br/>
			<br/>
			<strong>Bankovní spojení:</strong><br/>
			226047602/0300 ČSOB
		</td>
		<td>
			<iframe width="400" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.cz/maps?f=q&amp;source=s_q&amp;hl=cs&amp;geocode=&amp;q=Riegrovo+n%C3%A1m%C4%9Bst%C3%AD+182,+Krom%C4%9B%C5%99%C3%AD%C5%BE&amp;aq=&amp;sll=49.297266,17.394348&amp;sspn=0.001361,0.003484&amp;t=m&amp;g=Riegrovo+n%C3%A1m%C4%9Bst%C3%AD+318,+Krom%C4%9B%C5%99%C3%AD%C5%BE&amp;brcurrent=5,0,1&amp;ie=UTF8&amp;hq=&amp;hnear=Riegrovo+n%C3%A1m%C4%9Bst%C3%AD+182%2F20,+767+01+Krom%C4%9B%C5%99%C3%AD%C5%BE&amp;ll=49.297367,17.393975&amp;spn=0.004198,0.006437&amp;z=16&amp;output=embed"></iframe><br /><small><a href="https://maps.google.cz/maps?f=q&amp;source=embed&amp;hl=cs&amp;geocode=&amp;q=Riegrovo+n%C3%A1m%C4%9Bst%C3%AD+182,+Krom%C4%9B%C5%99%C3%AD%C5%BE&amp;aq=&amp;sll=49.297266,17.394348&amp;sspn=0.001361,0.003484&amp;t=m&amp;g=Riegrovo+n%C3%A1m%C4%9Bst%C3%AD+318,+Krom%C4%9B%C5%99%C3%AD%C5%BE&amp;brcurrent=5,0,1&amp;ie=UTF8&amp;hq=&amp;hnear=Riegrovo+n%C3%A1m%C4%9Bst%C3%AD+182%2F20,+767+01+Krom%C4%9B%C5%99%C3%AD%C5%BE&amp;ll=49.297367,17.393975&amp;spn=0.004198,0.006437&amp;z=16" target="_blank" style="color:#0000FF;text-align:left">Zvětšit mapu</a></small>
		</td>
	</tr>
</table>