---
title: Poplatkový sazebník
menu_position: 35
---
<h1>Poplatkový sazebník za služby</h1>
<h2>Pro úvěry SPECIFIC, OPTIMUM, INDIVIDUAL</h2>
<table>
	<thead>
		<tr>
			<th>Služba</th>
			<th colspan="2">Poplatek</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="2">Poplatek za sjednání úvěru </td>
			<td class="no-right-border">do 200.000 Kč</td>
			<td class="number">12.500Kč</td>
		</tr>
		<tr>
			<td class="no-right-border">od 200.000 Kč</td>
			<td class="number">5%</td>
		</tr>
		<tr>
			<td>Expresní čerpání</td>
			<td class="number" colspan="2">2 % maximálně 15.000Kč</td>
		</tr>
		<tr>
			<td>Poplatek za podpis mimo pobočku</td>
			<td class="number" colspan="2">2.000 Kč</td>
		</tr>
		<tr>
			<td rowspan="2">Poplatek za předčasné splacení</td>
			<td class="no-right-border">Spotřebitelský úvěr</td>
			<td class="number">1%</td>
		</tr>
		<tr>
			<td class="no-right-border">Podnikatelský úvěr</td>
			<td class="number">5%</td>
		</tr>
	</tbody>
</table>

<br/>

<h1>Sankce za neplnění smluvních ujednání</h1>
<h2>Pro úvěry SPECIFIC, OPTIMUM, INDIVIDUAL</h2>

<table>
	<thead>
		<tr>
			<th>Smluvní ujednání</th>
			<th>Poplatek</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Poplatek za 1. upomínku</td>
			<td class="number">500 Kč</td>
		</tr>
		<tr>
			<td>Za každou další upomínku</td>
			<td class="number">1.000 Kč</td>
		</tr>
		<tr>
			<td>Denní pokuta při prodlení se splácením</td>
			<td class="number">0,19%</td>
		</tr>
		<tr>
			<td>Smluvní pokuta za podstatné porušení smlouvy</td>
			<td class="number">10%</td>
		</tr>
	</tbody>
</table>