---
title: Reference
menu_position: 40
main_content_class: reference
styles: ['reference.css']
reference:
-
 content: "
<p>Chtěla bych poděkovat této společnosti za velmi kladný, rychlý, ochotný přístup ve všech záležitostech poskytovaných služeb v rámci získání hypotečního úvěru při koupi rodinného domu. Ráda bych doporučila Vaši společnost dalším klientům.</p>
<p>S pozdravem</p>
<p><strong>Alice Fochrová</strong><br/>
	V Kroměříži 4.11.2013</p>
"
 original: reference_fochrova.pdf
-
 content: "
<p>Dostala jsem se do finanční tísně, a z důvodu záznamu v bankovním registru jsem nevěděla jak situaci vyřešit. Věděla jsem, že budu mít schopnost splácet díky nižším splátkám, ale kde najít opravdu dobrou firmu? Okolo je tolik podvodných firem, které těží z neštěstí lidí! A pak jsem si vzpomněla, že můj známý, pan Aleš Müller, pracuje v nějaké firmě co poskytuje půjčky. Protože mu věřím, zavolala jsem mu, že akutně pořebuji 188.000. Uklidnil mě, že se to pokusíme co nejrychleji vyřešit, a že můžu být naprosto klidná, že nejsem jediná. Musím se přiznat, že jsem měla obavy, zda všechno vyjde a hlavně jestli včas. Byla jsem opravdu překvapená, když do týdne bylo vše vyřešené a dokonce i s převodem peněz! Moc bych chtěla poděkovat jak panu Alešovi Müllerovi, tak zároveň firmě AsisTeam s.r.o.. Díky Vám už opět klidně spím. Splátky jsou přijatelné, a jelikož mám v plánu splatit úvěr mnohem dříve před koncem, líbí se mi, že můžu dávat kdykoliv mimořádné splátky, a zároveň v den úplného zaplacení platit jen úroky za dobu trvání úvěru. Každý se někdy může vyskytnout v problémech, ale ty jsou od toho aby se řešily, a díky Vám jsem je vyřešila i já. Upřímně se moc těším, až ji doplatím, každopádně, vždy si budu pamatovat jak mi pan Aleš Müller jménem Vaší firmy pomohl!</p>
<p><strong>J.Ř.</strong><br/>
	V Kroměříži dne 30. 7. 2013</p>
"
 original: reference_jr.pdf
-
 content: "
<p>Se svým synem jsme se dostali do velmi tíživé situace. Měli jsme exekuci na rodinný domek. Nechtěli jsme o tento dům přijít, a proto jsme se snažili dělat vše, aby nám zůstal. Bylo potřeba zaplatit peníze stavební spořitelně v celé výši úvěru. Právnička, která nám pomáhala s celou situací poradila, abychom se obrátili na společnost AsisTeam s.r.o. jestli by nám mohli pomoc řešit náš problém.</p>
<p>Společnost AsisTeam s.r.o. byla tak velice laskavá a pomohla nám celou situaci vyřešit. Jejich přístup k celému případu byl velmi milý a příjemný. Jsou to všechno mladí lidé a jejich přístup ke klientům s kterými pracují je velmi příkladný.</p>
<p>Proto Vám celému kolektivu AsisTeamu děkuji za vše co jste pro nás udělali a vím, že když budu mít opět nějaké problémy, můžu se na Vás vždy spolehnout.</p>
<p>Ještě jednou moc děkuji</p>
<p><strong>Pechalová Vlasta</strong><br/>
	V Kvasicích dne 10.6.2013</p>
"
 original: reference_pechalova.pdf
-
 content: "
<p>Celá spolupráce proběhla rychle a přesně dle dohody. Všechny podklady byly vždy včas připraveny a vždy mi byly poskytnuty všechny potřebné a pravdivé údaje nezbytné k poskytnutí úvěru. I přes to, že můj případ byl dosti komplikovaný, vše vyřešili k mé spokojenosti.</p>
<p>Vřele tuto společnost doporučuji.</p>
<p><strong>Martin Baček</strong><br/>5.3.2013</p>
"
 original: reference_bacek.pdf
-
 content: "
<p>Rádi bychom potvrdili výbornou profesionalní práci firmy AsisTeam s. r. o., která nám velice vstřícně zajistila hypoteční úvěr na náš rodinny dům. Náš požadavek byl získat nižší splátku než jsme dosud platili při zachování doby splatnosti. Byli jsme překvapeni jakou úrokovou sazbu jsme dokázali získat i přes to, že úvěr byl komplikovaný. Perfektní komunikace a rychlá spolupráce je opravdu příkladná. Kdykoliv a komukoliv bychom tuto firmu doporučili.</p>
<p><strong>Zdenka a František Strakovi</strong><br>V Praze dne 29.1.2013</p>
"
 original: reference_strakovi.pdf
-
 content: "
<p>Dobrý den,chtěla bych touhle cestou poděkovat firmě AsisTeam s. r. o. v Kroměříži. Ujali se mě v mé těžké životní situaci a pomohli tam, kde jiné ústavy a společnosti vyjádřily negativní postoj k vyřízení mojí situace. S vyřizováním i s průběhem celé spolupráce jsem byla velmi spokojená a ještě jednou děkuji.</p>
<p>Tímto klidně doporučuji spolupráci i ostatním klientům.</p>
<p><strong>A. Lišaníková</strong><br/>Morkovice-Slížany<br/>21.1.2013</p>
"
-
 content: "
<p>Na konci roku 2011 jsem se dostala do finančních problémů (exekuce na dům). Přesto, že jsem oslovila několik bankovních instituci (asi všechny, které znám), nikde mi neuměli pomoct a neměli pro mě žádné řešení, i přes to, že jsem chtěla dát dům do zástavy ještě dřív než na ním byla exekuce.</p>
<p>Situace se začala vyvíjet pozitivně až na začátku roku 2012, kdy mě oslovila společnost AsisTeam s.r.o. a našla řešení a během velmi krátké doby k mému údivu, i když jsem měla zdravotní potíže a nemohla jsem se pohybovat společnost AsisTeam zařídila vše za mě i přes počáteční nedůvěřivost, vzhledem k tomu, že jsem si myslela, že mi opravdu už nikdo nepomůže.</p>
<p>Společnost AsisTeam s.r.o. můžu vřele doporučit.</p>
<p><strong>Irena Remešová</strong><br/>V Kroměříži dne 29.5.2012</p>
"
---
{{#each reference}}
	<div class="item">
		{{{this.content}}}
		{{#if this.original}}<a class="original" href="{{../../abspath}}/files/{{this.original}}" target="_blank">Originál reference PDF</a>{{/if}}
	</div>
{{/each}}