---
title: Typy úvěrů
menu_position: 30
---
<h1>Typy úvěrů</h1>

<h2>účelový úvěr - SPECIFIK</h2>
<em>Využití: koupě, výstavba, rekonstrukce, modernizace nemovitosti, vypořádání SJM</em>
<ul>
	<li>zajištěný zástavním právem k nemovitosti</li>
	<li>doba splatnosti až 20 let</li>
	<li>úroková sazba od 10,99% p. a. – fixní</li>
	<li>max. výše úvěru 60% zástavní hodnoty nemovitosti</li>
</ul>

<h2>neúčelový úvěr - OPTIMUM</h2>
<em>Využití: vybavení domácností, konsolidace půjček a nákup spotřebního zboží, financování podnikání</em>
<ul>
	<li>zajištěný zástavním právem k nemovitosti</li>
	<li>doba splatnosti až 20 let</li>
	<li>úroková sazba od 12,99% p. a. – fixní</li>
	<li>max. výše úvěru 50% zástavní hodnoty nemovitosti</li>
</ul>

<h2>neúčelový úvěr - INDIVIDUAL</h2>
<em>Využití: vyplacení exekucí, záloha při prodeji nemovitosti, překlenutí při refinancováním bankou</em>
<ul>
	<li>doba splatnosti do 2 let</li>
	<li>úroková sazba od 18% p. a.</li>
</ul>
