---
title: Typy úvěrů
menu_position: 20
---
<h1>Typy úvěrů</h1>

<h2>Účelové půjčky</h2>

<h3>účelový úvěr - SPECIFIK</h3>
<p>Jsou určeny na financování vlastního bydlení za účelem:</p>
<ul>
	<li>koupě nemovitosti</li>
	<li>koupě spoluvlastnického podílu na nemovitosti</li>
	<li>koupě stavebního pozemku</li>
	<li>výstavba, dostavba, rekonstrukce, modernizace nemovitosti</li>
	<li>vypořádání spoluvlastnických a dědických nároků k nemovitosti</li>
	<li>získání členských práv v družstvu</li>
	<li>připojení nemovitosti sloužící k bydlení k veřejným sítím</li>
	<li>bez uvedení účelu (americká hypotéka)</li>
	<li>refinancování úvěru dříve poskytnutého na výše uvedené účely</li>
</ul>
<p><mark>Uvedené účely lze vzájemně kombinovat.</mark></p>
<p>Parametry úvěru:</p>
<ul>
	<li>zajištěný zástavním právem k nemovitosti</li>
	<li>doba splatnosti až 20 let</li>
	<li>nízká úroková sazba od 10,99% p. a. - fixní</li>
	<li>výše úvěru - max. výše úvěru 60% zástavní hodnoty nemovitosti</li>
</ul>
<br/>
<h2>Půjčka na cokoliv/Konsolidace</h2>
<h3>neúčelový úvěr - OPTIMUM</h3>
<p>Má většinou charakter spotřebitelského úvěru a je definován dle zákona č. 145/2010 Sb., o spotřebitelském úvěru a o změně některých zákonů. Účel u spotřebitelského úvěru se nevyžaduje, ale klient musí dostatečně doložit svou bonitu pro získání úvěru. Využívá se především k zakoupení vybavení domácnosti, konsolidaci půjček a nákup spotřebního zboží a vyplacení exekucí.</p>
<p>Parametry úvěru:</p>
<ul>
	<li>zajištěný zástavním právem k nemovitosti</li>
	<li>doba splatnosti až 20 let</li>
	<li>úroková sazba od 12,99% p. a. – fixní</li>
	<li>max. výše úvěru 50% zástavní hodnoty nemovitosti</li>
</ul>
<p><mark>Můžete konsolidovat všechny své půjčky, které splácíte pravidelnými měsíčními splátkami, kreditní karty a kontokorenty. Spojit můžete závazky jiných bank i splátkových společností včetně úvěrů a hypoték.</mark></p>
<br/>
<h2>Úvěry pro podnikatele</h2>
<h3>neúčelový úvěr - OPTIMUM</h3>
<p>Žadateli jsou právnické osoby – živnostníci, firmy majícím oprávnění podnikat na území České republiky a aktivně podnikají.</p>
<p><mark>U tohoto typu úvěru není vyžadován konkrétní účel použití úvěrových prostředků.</mark></p>
<p>Podnikateli je využíván zejména k:</p>
<ul>
	<li>krytí krátkodobých provozních potřeb</li>
	<li>zakoupení nového vybavení, zboží, materiálu</li>
	<li>investic do nových technologií, reklamy, marketingu, SW</li>
	<li>výstavbu, nákup a opravy nemovitostí sloužících k podnikání</li>
</ul>
<p>Parametry úvěru:</p>
<ul>
	<li>zajištěný zástavním právem k nemovitosti</li>
	<li>doba splatnosti až 20 let</li>
	<li>úroková sazba od 12,99% p. a. – fixní</li>
	<li>max. výše úvěru 50% zástavní hodnoty nemovitosti</li>
</ul>
<br/>
<h2>Krátkodobé úvěry</h2>
<h3>neúčelový úvěr - INDIVIDUAL</h3>
<p>Tento typ úvěru slouží ke krátkodobé potřebě žadatele, zejména k vyplacení exekucí, záloze při prodeji nemovitosti, překlenutí při refinancováním bankou atd.</p>
<ul>
	<li>zajištěný zástavním právem k nemovitosti</li>
	<li>doba splatnosti až 20 let</li>
	<li>úroková sazba od 12,99% p. a. – fixní</li>
	<li>max. výše úvěru 50% zástavní hodnoty nemovitosti</li>
</ul>


{{!--<h2>účelový úvěr - SPECIFIK</h2>--}}
{{!--<em>Využití: koupě, výstavba, rekonstrukce, modernizace nemovitosti, vypořádání SJM</em>--}}
{{!--<ul>--}}
	{{!--<li>zajištěný zástavním právem k nemovitosti</li>--}}
	{{!--<li>doba splatnosti až 20 let</li>--}}
	{{!--<li>úroková sazba od 10,99% p. a. – fixní</li>--}}
	{{!--<li>max. výše úvěru 60% zástavní hodnoty nemovitosti</li>--}}
{{!--</ul>--}}

{{!--<h2>neúčelový úvěr - OPTIMUM</h2>--}}
{{!--<em>Využití: vybavení domácností, konsolidace půjček a nákup spotřebního zboží, financování podnikání</em>--}}
{{!--<ul>--}}
	{{!--<li>zajištěný zástavním právem k nemovitosti</li>--}}
	{{!--<li>doba splatnosti až 20 let</li>--}}
	{{!--<li>úroková sazba od 12,99% p. a. – fixní</li>--}}
	{{!--<li>max. výše úvěru 50% zástavní hodnoty nemovitosti</li>--}}
{{!--</ul>--}}

{{!--<h2>neúčelový úvěr - INDIVIDUAL</h2>--}}
{{!--<em>Využití: vyplacení exekucí, záloha při prodeji nemovitosti, překlenutí při refinancováním bankou</em>--}}
{{!--<ul>--}}
	{{!--<li>doba splatnosti do 2 let</li>--}}
	{{!--<li>úroková sazba od 18% p. a.</li>--}}
{{!--</ul>--}}

{{!--<h2>neúčelový úvěr - INDIVIDUAL</h2>--}}
{{!--<em>Tento typ úvěru slouží ke krátkodobé potřebě žadatele, zejména k vyplacení exekucí, záloze při prodeji nemovitosti, překlenutí při refinancováním bankou atd.</em>--}}
{{!--<ul>--}}
	{{!--<li>zajištěný zástavním právem k nemovitosti</li>--}}
	{{!--<li>doba splatnosti až 20 let</li>--}}
	{{!--<li>úroková sazba od 12,99% p. a. – fixní</li>--}}
	{{!--<li>max. výše úvěru 50% zástavní hodnoty nemovitosti</li>--}}
{{!--</ul>--}}