---
title: Úvěry pro podnikatele
no_menu: true
submenu: true
menu_position: 30
---
<h1>Úvěry pro podnikatele</h1>

<p>Potřebujete nastartovat či rozhýbat své podnikání? Pak jsou právě pro vás určeny úvěry pro podnikatele, jedná se o bezúčelové půjčky, nemusíte tedy dokládat, k čemu je potřebujete či použijete.</p>

<h2>Pro koho jsou určeny úvěry pro podnikatele?</h2>
<p>Úvěry pro podnikatele jsou určeny právnickým osobám, tedy živnostníkům a firmám, které mají oprávnění podnikat na území České republiky a také aktivně podnikají. Tyto půjčky můžete využít pro rozjezd či rozšíření svého podnikatelského záměru. Jedná se totiž o nebankovní bezúčelové půjčky, tedy bez dokládání účelu, navíc bez nahlížení do registru.</p>

<h2>Transparentní podmínky poskytování úvěrů pro podnikatele</h2>
<p>Schvalování úvěrů pro podnikatele je transparentní, stejně jako jejich poskytování. Požádáte-li o úvěr, bude vám jasně sděleno a upřesněno, za jakých podmínek vám bude žádost schválena. Smlouvu, kterou s námi uzavřete, si budete moci podrobně prostudovat, a pokud by byly jakékoli nejasnosti, vše vám rádi osvětlíme. V našich smlouvách nenaleznete žádné poznámky pod čarou psané malým písmem, žádné skryté poplatky či podmínky. Lze nás kontaktovat v pracovní době osobně či telefonicky, nebo nám můžete vždy napsat e-mail.</p>

<h2>Podmínky poskytování úvěrů pro podnikatele</h2>
<p>Poskytujeme nebankovní půjčky bez poplatků předem, bez nahlížení do registru, bez nutnosti dokládat jejich účel. Poskytnuté úvěry jsou zajištěné zástavním právem k nemovitosti. Jejich výše se může pohybovat až do 50 % zástavní hodnoty vlastněné nemovitosti. Spěcháte-li, je možné mít peníze na účtu již do deseti dní, a to v rámci expresního čerpání.</p>

<h2>Úvěry pro podnikatele s fixní úrokovou sazbou po celou dobu splácení</h2>
<p>Nabízíme úvěry dle vašich požadavků a možností, se splatností až 25 let. Po celou dobu splácení vám navíc zaručíme fixní roční úrokovou sazbu již od 10,99 % p.a. Při expresním čerpání můžete mít peníze na účtu již do deseti dnů.</p>

<p>Zaujala vás naše nabídka úvěrů pro podnikatele? Kontaktujte nás!</p>
