@charset "UTF-8";
@import "global";

@import "normalize";

@import "icons/icons-layout";

//My reset:
*,
*:before,
*:after {
	box-sizing: border-box;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
}

/*
Main typo
*/
body {
	background: $body_background;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
}

/*
Layout
*/
body {
	border-top: 7px solid $main_blue;
}

.main_header {
	width: $page_wrap_width;
	margin: 0 auto;
}

.main_nav {
	$image_height: 34px;
	height: 85px;
	display: block;
	position: relative;

	.logo {
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -$image_height/2;
		left: 3px;

		img {
			display: block;
		}
	}

	ul {
		display: block;
		height: $image_height;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -$image_height/2;

		li {
			height: $image_height;
			line-height: $image_height;
			margin-left: 20px;

			&:first-of-type {
				margin-left: 0;
			}

			a {
				display: block;
				height: 100%;
				padding: 0 10px;
				position: relative;

				text-decoration: none;
				color: $main_blue;
				font-size: 15px;
				font-weight: bold;
				font-family: 'PT Sans', 'sans-serif';

				&:before {
					//active box indicator
					$box_size: 7px;
					content: '';
					position: absolute;
					right: 100%;
					top: 50%;
					margin-top: -$box_size/2;
					width: $box_size;
					height: $box_size;
					background: $main_green;
					opacity: 0;
					transition: opacity $transition_timeout;
				}

				&:hover:before {
					opacity: 1;
				}
			}

			&.active a:before {
				opacity: 1;
			}
		}
	}
}

.featured_nav {
	height: $featured_nav_height;
	margin-bottom: 13px;
	display: flex;

	a {
		display: flex;
		flex: 1;
		margin-right: $featured_nav_margin;
		justify-content: center;
		flex-flow: column;

		padding-left: 65px;
		padding-right: 5px;

		//background-image, bg-repead will be extended
		background-color: $light_blue;
		background-size: 37px 37px;
		background-position: 15px center;
		transition: background-color $transition_timeout;

		color: $body_background;
		text-decoration: none;
		font-family: 'PT Sans', 'sans-serif';
		font-size: 12px;

		strong {
			display: block;
			font-size: 16px;
			margin-bottom: 5px;
		}

		&:last-of-type {
			margin-right: 0;
		}

		&:hover,
		&.active {
			background-color: $main_green;
		}

		//Icons
		$types: 'briefcase', 'home', 'chart', 'flag';

		@each $type in $types {
			&.#{$type} {
				@extend .icon-#{$type};
			}
		}

	}

	.no-flexbox & {
		opacity: 0;
		//will be pollyfiled
	}
}

.banner {
	//on generic page, there is nothing
	height: 26px;
	background: $banner_grey;
	margin-bottom: $featured_nav_margin;
}

.main_content_wrap {
	width: $page_wrap_width;
	margin: 0 auto 30px auto;

	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

.main_content {
	width: $main_content_width;
	float: left;
	background: #FFF;
	padding: 25px;

	@import "typography";
	@include typography();
}

/*
Vertical rhythm test
/
body {
	position: relative;
}

body:after {
	position: absolute;
	width: auto;
	height: auto;
	z-index: 9999;
	content: '';
	display: block;
	pointer-events: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(http://basehold.it/image.php?height=30) repeat top left;
	background-size: 4px 18.2px;
	background-position: 0 16.5px;
}

body:active:after {
	display: none;
}
/*
//////////
*/

.calculator {
	float: right;
	width: $calculator_width;
	background: #FFF;
	padding: 17px;

	form {
		color: $light_blue;
		font-size: 13px;
		display: block;

		.select {
			display: block;

			.style_wrap {
				overflow:hidden; /* this hides the select's drop button */
				padding:0;
				margin: 5px 0 15px 0;
				border: solid 1px $form_select_border;
				background: $form_select_bg;
				position: relative;
				transition: border-color $transition_timeout;

				&::before {
					//separator
					content: '';
					position: absolute;
					right: 30px;
					top: 5px;
					bottom: 5px;
					border-left: 1px solid $form_select_border;
				}

				&::after {
					//triangle
					content: '';
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 6.9px 4px 0 4px;
					border-color: darken($form_select_border, 50%) transparent transparent transparent;
					position: absolute;
					top: 50%;
					margin-top: -3px;
					right: 12px;
				}

				&.focus {
					border-color: $main_blue;
				}

			}

			select {
				width:115% /* this percentage effectively extends the drop down button out of view */;
				background-color:transparent /* this hides the select's background making any styling visible from the div */;
				background-image:none;
				-webkit-appearance: none /* this is required for Webkit browsers */;
				border:none;
				box-shadow:none;

				font-size: 14px;
				color: $form_select_color;
				font-weight: bold;
				padding: 5px 0 5px 5px;
				border-radius: 0;

				&:active,
				&:focus {
					outline: none;
				}

				&:-moz-focusring {
					color: transparent;
					text-shadow: 0 0 0 $form_select_color;
				}
			}
		}

		%boxes {
			font-family: 'PT Sans', 'sans-serif';
			font-size: 12px;
			margin-bottom: 10px;

			.box {
				background: $banner_grey;
				padding: 5px;
				margin-top: 5px;
				height: 60px;
				transition: color 200ms;

				strong {
					display: block;
				}
			}
		}

		.splatka {
			@extend %boxes;
			width: 62%;
			float: left;

			.box {
				color: $main_green;
				font-size: 13px;
				text-align: center;
				padding-top: 10px;
				position: relative;

				strong {
					font-size: 18px;
				}

				&::after {
					content: '';
					background: url('../images/preloader.gif') no-repeat;
					width: 96px;
					height: 9px;
					position: absolute;
					top: 50%;
					left: 50%;
					margin-left: -(96px/2);
					margin-top: -(9px/2);
					opacity: 0;
					transition: opacity 200ms;
				}
			}
		}

		.rpsn {
			@extend %boxes;
			width: 35%;
			float: right;

			.box {
				color: #a3a3a3;
				font-size: 17px;
				font-weight: bold;
				padding-left: 8px;
				padding-top: 18px;
			}
		}

		.checkbox {
			clear: both;
			display: block;
			font-size: 10px;
			font-family: 'PT Sans', 'sans-serif';
			margin-bottom: 10px;

			input {
				opacity: 0;
				position: absolute;
			}

			label {
				position: relative;
				padding-left: 15px;

				$square_size: 11px;
				@mixin pseudos() {
					content: '';
					position: absolute;
					top: 50%;
					margin-top: -$square_size/2;
					left: 0;
					width: $square_size;
					height: $square_size;
				}

				&:before {
					@include pseudos();
					background: $form_select_border;
					transition: outline $transition_timeout;
				}

				&:after {
					@include pseudos();
					@extend .icon-check;
					background-size: $square_size $square_size;
					opacity: 0;
					transition: opacity $transition_timeout;
				}


			}

			input:checked + label:after {
				opacity: 1;
			}

			input:focus + label:before {
				outline: 1px solid $main_blue;
			}
		}

		.submit {
			display: block;
			height: 35px;
			width: 100%;
			border: none;
			background-color: $main_blue;
			background-image: linear-gradient(to bottom, #c7e5ff 0px, #3792de 4px, #379cf2 32px, #3188d0 35px );
			color: #FFF;
			font-weight: bold;
			font-family: 'PT Sans', 'sans-serif';
			text-shadow: 1px 1px 5px rgba( 0, 0, 0, 0.7 );
			font-size: 18px;
		}

		.open_terms {
			color: inherit;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

			&::after {
				content: '';
				$icon_size: 11px;
				@extend .icon-popup;
				background-size: $icon_size $icon_size;
				display: inline-block;
				width: $icon_size;
				height: $icon_size;
				vertical-align: middle;
				margin-left: 5px;
			}
		}
	}

	&.loading {

		.splatka .box {
			color: transparent;

			&::after {
				opacity: 1;
			}
		}

		.rpsn .box
		{
			color: transparent;
		}

	}
}

//sticky footer
html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0 0 ($footer_height + 30px); /* bottom = footer height */
}

.main_footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: $footer_height;
	width: 100%;
	background: $footer_bg;
	line-height: $footer_height;
	color: #FFF;
	font-size: 12px;
	border-top: 4px solid $footer_border;

	.inner {
		width: $page_wrap_width;
		margin: 0 auto;
	}

	.authors {
		float: right;
	}

	a {
		color: #01eaff;

		&:hover {
			text-decoration: none;
		}
	}
}