<section class="calculator">
	<form id="calculator" action="{{abspath}}/form.php" method="post">
		<label class="select">
			Výše úvěru:
			<div class="style_wrap">
				<select name="vyse_uveru">
					<option value="100000">100.000 Kč</option>
					<option value="150000">150.000 Kč</option>
					<option value="200000">200.000 Kč</option>
					<option value="250000" selected="selected">250.000 Kč</option>
					<option value="300000">300.000 Kč</option>
					<option value="350000">350.000 Kč</option>
					<option value="400000">400.000 Kč</option>
					<option value="450000">450.000 Kč</option>
					<option value="500000">500.000 Kč</option>
					<option value="600000">600.000 Kč</option>
					<option value="700000">700.000 Kč</option>
					<option value="800000">800.000 Kč</option>
					<option value="900000">900.000 Kč</option>
					<option value="1000000">1.000.000 Kč</option>
					<option value="1100000">1.100.000 Kč</option>
					<option value="1200000">1.200.000 Kč</option>
					<option value="1300000">1.300.000 Kč</option>
					<option value="1400000">1.400.000 Kč</option>
					<option value="1500000">1.500.000 Kč</option>
					<option value="1600000">1.600.000 Kč</option>
					<option value="1700000">1.700.000 Kč</option>
					<option value="1800000">1.800.000 Kč</option>
					<option value="1900000">1.900.000 Kč</option>
					<option value="2000000">2.000.000 Kč</option>
					<option value="2100000">2.100.000 Kč</option>
					<option value="2200000">2.200.000 Kč</option>
					<option value="2300000">2.300.000 Kč</option>
					<option value="2400000">2.400.000 Kč</option>
					<option value="2500000">2.500.000 Kč</option>
					<option value="2600000">2.600.000 Kč</option>
					<option value="2700000">2.700.000 Kč</option>
					<option value="2800000">2.800.000 Kč</option>
					<option value="2900000">2.900.000 Kč</option>
					<option value="3000000">3.000.000 Kč</option>
				</select>
			</div>
		</label>
		<label class="select">
			Doba splácení:
			<div class="style_wrap">
				<select name="vyse_platby_v_mesicich">
					<option value="1">1 rok</option>
					<option value="2">2 roky</option>
					<option value="3">3 roky</option>
					<option value="4">4 roky</option>
					<option value="5">5 let</option>
					<option value="6">6 let</option>
					<option value="7">7 let</option>
					<option value="8">8 let</option>
					<option value="9">9 let</option>
					<option value="10">10 let</option>
					<option value="11">11 let</option>
					<option value="12">12 let</option>
					<option value="13">13 let</option>
					<option value="14">14 let</option>
					<option value="15">15 let</option>
					<option value="16">16 let</option>
					<option value="17">17 let</option>
					<option value="18">18 let</option>
					<option value="19">19 let</option>
					<option value="20" selected="selected">20 let</option>
				</select>
			</div>
		</label>
		<div class="splatka">
			<strong>Splátka:</strong>
			<div class="box">
				<strong><span id="calculator_splatka">2 578,77</span> Kč</strong>
				úrok 10.99% p.a.{{!-- change also in mail report in form.php --}}
			</div>
		</div>
		<div class="rpsn">
			RPSN
			<div class="box">
				<span id="calculator_rpsn">12,44</span>%
			</div>
		</div>
		<a class="vzor_rpsn" href="{{abspath}}/files/vzorovy-vypocet-rpsn.pdf" target="_blank">Vzorový výpočet RPSN</a>
		<button type="submit" class="submit">Požádat o úvěr</button>
	</form>
</section>