<section class="calculator">
	<form action="">
		<label class="select">
			Výše úvěru:
			<div class="style_wrap">
				<select name="vyse_uveru">
					<option value="100000">100.000 Kč</option>
					<option value="200000">200.000 Kč</option>
					<option value="300000">300.000 Kč</option>
				</select>
			</div>
		</label>
		<label class="select">
			Výše platby v měsících:
			<div class="style_wrap">
				<select name="vyse_platby_v_mesicich">
					<option value="1">1 měsíc</option>
					<option value="2">2 měsíce</option>
					<option value="3">3 měsíce</option>
				</select>
			</div>
		</label>
		<div class="splatka">
			<strong>Splátka:</strong>
			<div class="box">
				<strong>3 541 Kč</strong>
				úrok 13.99% p.a.
			</div>
		</div>
		<div class="rpsn">
			RPSN
			<div class="box">
				96 měsíců<br>
				8 let
			</div>
		</div>
		<div class="checkbox">
			<input type="checkbox" id="checkbox"/>
			<label for="checkbox">Souhlasím s platebními podmínkami<a href="podminky.html" target="_blank" class="open_terms">Platební podmínky</a></label>
		</div>
		<button type="submit" class="submit">Požádat o úvěr</button>
	</form>
</section>