<footer class="main_footer">
	<div class="inner">
		&copy; 2014 AsisTeam s. r. o.  Všechna práva vyhrazena
		<div class="authors">Tvorba webových stránek: <a href="http://www.marekhorava.cz">Marek Hořava</a> | <a href="http://www.lumiart.cz">Jakub Klapka</a></div>
	</div>
</footer>
<script type="text/javascript">
	var LumiPolyfill = { 'theme_path': '' };
</script>
<script type="text/javascript" src="js/layout.js"></script>
{{#each footer_scripts}}
	<script type="text/javascript" src="js/{{this}}"></script>
{{/each}}
</body>
</html>