<h1>Platební podmínky</h1>

<p>Poskytujeme půjčky bez registru pro fyzické osoby, podnikajicí fyzické osoby a právnické osoby.</p>

<h2>Jak velkou půjčku vám poskytneme?</h2>
<p>Standardní výše úvěru činí od 100 000 Kč do 3 000 0000 Kč.</p>
<p>Pokud budete potřebovat půjčit více, kontaktujte nás a v rámci individuálního jednání vám navrhneme výhodné podmínky pro větší nebankovní půjčku.</p>
<p>Získáte až 60 % zástavní hodnoty nemovitosti.</p>

<h2>Míra úrokové sazby</h2>
<p>Úvěry poskytujeme s úrokovou sazbou od 10,99%</p>

<h2>Rychlost čerpání</h2>
<p>Standardní doba od podání žádosti o úvěr až do chvíle, kdy dostanete peníze na účet, je 21 - 40 dní.</p>
<p>Pokud peníze potřebujete co nejrychleji, jsme schopni vám je expresně zajistit již 10 dní po podání žádosti.</p>

<h2>Splatnost úvěru</h2>
<p>Budeme se vám snažit vyjít vstříc a navrhneme vám úvěr s takovou dobou splatnosti, abyste ho zvládli pohodlně splácet.</p>
<p>Maximální doba splatnosti je 20 let.</p>
<p>Můžete si vybrat z různých typů splácení podle toho, co bude vyhovovat vašim potřebám:</p>
<ul>
	<li>Anuitní</li>
	<li>Pouze úrok</li>
	<li>Úrok a část jistiny</li>
	<li>Vše na konci splatnosti</li>
</ul>

<h2>Zajištění úvěru</h2>
<p>Všechny námi poskytované úvěry musí být zajištěny zástavním právem k nemovitosti, která se nachází na území ČR.</p>
<p>Předmětem zajištění může být převod práv k družstevnímu bytu.</p>
<p>Zástavní právo ve 2. a dalším pořadí akceptovatelné jen, pokud:<br>
	&nbsp;- Předmětem zajištění na 2. a dalším zástavním místě mohou být pouze nemovitosti, které jsou zastaveny na prvním místě u bank
</p>

<h2>Co od vás budeme potřebovat k vyřízení žádosti o úvěr?</h2>
<ul>
	<li>Vyplňenou elektronickou žádost o úvěr</li>
	<li>Fotografie + popis nemovitosti, která bude předmětem zajištění</li>
	<li>Popis účelu úvěru, souvisejících okolností (např. podnikatelský záměr či příležitost, u konsolidace)</li>
	<li>Kopii Občanského průkazu</li>
</ul>
<p>Vaši žádost důkladně posoudíme a v případě potřeby si od vás vyžádáme další materiály. Poté vám navrhneme konkrétní parametry úvěru.</p>

<h2>Nabídka a schválení úvěru</h2>
<p>Jakmile od Vás máme vše nezbytné a  Vaše žádost byla vyhodnocena kladně, zašleme vám nabídku úvěru. Poté mátě čas na rozmyšlenou. Když se rozhodnete pro půjčku od nás, můžete si vybrat podpis ve Vašem bydlišti nebo na pobočce naší společnosti.</p>
