{{>header}}

<div class="banner"></div>

<div class="main_content_wrap">
	<article class="main_content{{#if 'data.main_content_class'}} {{main_content_class}}{{/if}}" role="main">

		{{>body}}

	</article>

	{{>calculator}}


	<div class="sidebar_kontakt tel">777 625 397</div>
	<a class="sidebar_kontakt mail email_decode" href="znvygb:vasb@nfvfgrnz.pm">vasb@nfvfgrnz.pm</a>
</div>

{{>footer}}