{{>header}}

<div class="banner"></div>

<div class="main_content_wrap">
	<article class="main_content{{#if 'data.main_content_class'}} {{main_content_class}}{{/if}}" role="main">

		{{>body}}

	</article>

	{{>calculator}}


	<section class="sidebar_kontakt">
		<h2>Kontakt</h2>
		<strong>Tel.:</strong> 777 625 397<br/>
		<strong>E-mail:</strong> <a href="znvygb:vasb@nfvfgrnz.pm" class="email_decode">vasb@nfvfgrnz.pm</a><br/>
	</section>
</div>

{{>footer}}