{{>header}}

<div class="banner">
	<div class="inner">

		<section class="home_slider" id="lumi_slider">
			<div class="wrapper" aria-live="polite">
				<div class="slider_item">
					<div class="caption">
						<h2>Jaký je postup?</h2>
						<ul>
							<li>Spočítáte si orientační splátku v kalkulátoru</li>
							<li>Vyplníte základní údaje o Vás v online formuláři</li>
							<li>Dostanete nabídku a máte schválený úvěr</li>
						</ul>
					</div>
					<img src="sample_content/slider_1.jpg" alt="" />
				</div>
				<div class="slider_item">
					<div class="caption">
						<h2>Jaký je postup?</h2>
						<ul>
							<li>Spočítáte si orientační splátku v kalkulátoru</li>
							<li>Vyplníte základní údaje o Vás v online formuláři</li>
							<li>Dostanete nabídku a máte schválený úvěr</li>
						</ul>
					</div>
					<span class="image_placeholder" data-src="sample_content/slider_1.jpg" data-alt="" hidden="hidden" aria-hidden="true"></span>
				</div>

			</div>
			<div class="controls" aria-controls="lumi_slider">
				<button class="active">1. sekce</button>
				<button>2. sekce</button>
			</div>
		</section>

		{{>calculator}}

		<div class="teaser"><mark>Garantujeme</mark> expresní schválení a poskytnutí úvěru už <mark>do 10 dnů</mark></div>

	</div>
</div>

<article class="home main_content_wrap main_content" role="main">
	{{>body}}
</article>


{{>footer}}