<!doctype html>
<html lang="cs-CZ">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/terms.css"/>
</head>
<body>
{{>body}}
</body>
</html>